extends layout

block content
  h1(onClick="init(); go();") Bertineville
  #score
  #farm
    .flower.wind(style="left: 10%")
      .stem
      .leaf
      .head.one
        .title Live Steady
    .flower.wind(style="left: 20%; bottom: 30%")
      .stem
      .head.two
        .title Anna
    .flower.wind(style="left: 40%; bottom: 50%")
      .stem
      .leaf
      .head.three
        .title Nathan
    .flower.wind(style="left: 35%")
      .stem
      .head.four
        .title Kerk
    .flower.wind(style="left: 55%; bottom: 50%")
      .stem
      .head.five
        .title Werk
    .flower.wind(style="left: 60%")
      .stem
      .leaf
      .head.six
        .title Bertine zelf
    .flower.wind(style="left: 80%; bottom: 40%")
      .stem
      .head.seven
        .title Groententuintje
    .flower.wind(style="left: 90%")
      .stem
      .leaf
      .head.eight
        .title Bejaardenhuis
