doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css')
    script(src="//code.jquery.com/jquery-1.11.3.min.js")
    script(src='/javascripts/bertineville.js')
  body
    block content
